@tailwind base;
@tailwind components;
@tailwind utilities;


:root { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.profileIcon{
  width: 25px;
  border-radius: 50%;
}

.text-shadow{
  text-shadow: 0px 0px 5px black;
}

.itemsList{
  display: inline-block;
  width: 100%;
}

.items{
 display: inline;
  width: 12%;
  border-radius: 50%;
}